.a1a-hero-section {
  position: relative;
  padding: 8em 0 10em;

  .hero-ss-background-layer-desktop {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .hero-ss-background-layer-mobile {
    width: 100vw;
    left: 50%;
    padding-bottom: 90%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    display: none;
  }

  .a1a-hero-section__inner {
    position: relative;
    z-index: 3;

    .hero-ss-entry {
      width: 50%;
    }
  }

  @media(max-width: 450px) {
    padding: 4em 0 5em;

    .hero-ss-entry {
      width: 100% !important;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      @media(max-width: 450px) {
        padding: 2em 0;
      }

      .wp-block-heading {
        font-size: 32px !important;
      }

      p {
        font-size: 18px !important;
        margin-top: 0 !important;
      }
    }
  }

  &:not(.__content-overlay-mobi) {
    @media(max-width: 450px) {
      padding: 0;
  
      .hero-ss-background-layer-desktop {
        display: none;
      }
  
      .hero-ss-background-layer-mobile {
        display: block;
      }
    }
  }

  
}

.__entry-right-style .hero-ss-entry { 
  margin-left: 50%; text-align: right; 

  @media(max-width: 450px) {
    margin-left: 0;
    text-align: center;;
  }
} 
.__entry-right-style .wp-block-buttons { 
  justify-content: flex-end; 
}