.__overflow-hidden {
  overflow: hidden;
}

.__btn-icon-arrow {
  
  > a {
    padding-right: 52px !important;
    background-image: url(https://imagedelivery.net/DHQSVhB0h-nBXfvg51dO8Q/14b0fae3-7c27-4c21-6cbd-e28111d50400/public);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 22px;
  }
}

